@import 'src/variables.scss';

.wrapper {
  width: 340px;
  height: 450px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 14%);
  border-radius: 12px;
}

.login_button {
  margin-top: 40px;
}
