* {
  box-sizing: border-box;
  font-family: 'Inter';
}

@font-face {
  font-family: "Inter";
  src: url("../static/fonts/Inter-Regular.ttf")
}

@font-face {
  font-family: "InterBold";
  src: url("../static/fonts/Inter-Bold.ttf")
}

body {
  margin: 0;
}

#app {
  margin: 24px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

.mainWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}